@use "../../styles/main.scss" as *;

.projectDetailontainer {
  padding: 64px 0;
  background-color: $color-white;

  .wrapper {
    max-width: 128rem;
    margin: 0 auto;
    padding: 0 32px;

    .backLink {
      margin-bottom: 32px;
      display: flex;
      align-items: center;
      color: #2563eb;
      text-decoration: none;

      &:hover {
        color: #1e40af;
      }

      svg {
        height: 20px;
        width: 20px;
        margin-right: 4px;
      }
    }

    .contentGrid {
      display: grid;
      grid-template-columns: 2fr 1fr;
      gap: 4.8rem;

      .imageContainer {
        width: 100%;
        overflow: hidden;
        position: relative;
        border-radius: 0.5%;

        .image {
          width: 100%;
          height: auto;
          object-fit: cover;
          border-radius: 8px;
        }

        :global(.slick-next) {
          right: 1.1rem;
        }

        :global(.slick-prev) {
          left: 1.1rem;
          z-index: 999999;
        }

        :global(.slick-dots) {
          position: absolute;
          bottom: 10px;
          width: 100%;
          display: flex;
          justify-content: center;
        }
      }

      .projectTitle {
        font-size: 30px;
        font-weight: 700;
        color: #111827;
        margin-bottom: 16px;
      }

      .detailsGrid {
        margin-bottom: 24px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 16px;

        .detailItem {
          .detailLabel {
            font-size: 14px;
            font-weight: 500;
            color: #6b7280;
          }

          .detailValue {
            color: #111827;
          }
        }
      }

      .descriptionSection {
        margin-bottom: 32px;

        .descriptionTitle {
          font-size: 20px;
          font-weight: 700;
          color: #111827;
          margin-bottom: 8px;
        }

        .descriptionText {
          color: #374151;
        }
      }

      .contactButton {
        width: 100%;
      }
    }
  }

  @include respond(tab-port) {
    .wrapper {
      .contentGrid {
        grid-template-columns: 1fr;
      }
    }
  }
}
